@media (max-width: 1200px) {
     .blog__text {
        padding: 0 53px 0 0;
     }
      .footer {
        background-position: left -200px bottom -80px,right -200px bottom -80px!important;
     }
     .feed {
        &_map {
            background: url(../../img/feed__map.svg) left -80px top 150px no-repeat!important;
         }
     }
     .content {
        .content__text {
            max-width: 600px;
        }
        .content__wrapper {
            flex-direction: column;
        }
       
     }
     .portfolio {
         a {
             max-width: 320px;
         }
         .portfolio__unit {
             max-width: 320px;
         }
     }
     .intro__title {
         font-size: 3.2rem;
     }
     .intro__title span {
         font-size: 1.6rem;
     }
     .intro__unit--title {
         font-size: 1.6rem;
     }
     .intro__unit--icon {
         width: 80px;
         height: 80px;
     }
     .portfolio  {
        .unit__footer {
            padding: 4rem 1rem!important;
        }
     }
       
}
 
@media (max-width: 991px) {
    .promo__name {
        font-size: 45px;
    }
    .promo__descr {
        font-size: 19px;
    }
   .footer {
    .promo__social {
        justify-content: center;
        margin-bottom: 1rem!important;
    }
    .footer__contacts {
        margin-bottom: 1rem;
    }
    .footer__contact {
        font-size: 1.2rem;
    }
   }
    .intro__wrapper {
        flex-wrap: wrap;
    }
    .intro__unit--big {
        width: 60%;
    }
    .intro__unit--green {
        width: 40%;
    }
    .intro__unit--blue {
        width: 40%;
    }
    .intro__unit--orange {
        width: 60%;
    }
    .portfolio a {
        max-width: 369px;
    }
    .portfolio__unit {
        max-width: 369px!important;
    }
    .portfolio__message--wrapper {
        padding: 3rem 1rem!important;
    }
   
    // .portfolio__message--wrapper {
    //     display: none;
    // }
    // .portfolio {
    //     .portfolio__message--wrapper--show {
    //         display: block!important;
    //         padding: 3rem;
    //     }
    // }
}

  

         

@media (max-width: 767px)  {
    .intro {
        padding: 5rem 0 5rem 0;
    }
    .portfolio a {
        width: 50%;
    }
    .portfolio__message--wrapper {
        padding: 0 1rem 5rem 1rem!important;
    }
    .promo__text {
        .author {
            right: -24px;
            height: 588px;
        }
    }
    .promo__inner .email, .promo__inner .tel {
        display: block;
        margin:   0;
    }
    .header {
        height: 75px;
        .logo__wrapper {
            .logo__circle {
                width: 3rem;
                height: 3rem;
            }  
        }       
        &__inner {
            height: 75px;
        }
        .nav {
            display: none;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.85);
            width: 100%;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 1;
            flex-direction: column;
            height: auto; 
            min-height: calc(100vh - 50px);/* otnimaem 50--eto vysota .header */
            text-align: right;
            padding-top: 10px;
            transform: translateX(100%);
            transition: transform .2s ease-out!important;

            &__link {
                display: block;
                padding: 10px 20px;
                font-size: 22px;
               
            }
        }
        .show {
            display: flex;
            transform: translateX(0);

        }
        .burger {
            display: block;
            padding: 0;
            border: none;
            background: none;
            .burger__line--3 {
                background-color: red!important;
            }
        }
    } 
    .header__inner {
        padding: 0;
    }
      .promo__inner .tel {
        margin-top: 1rem;
    }
  
}
    
 
    
 
    
@media (max-width: 575px)  {
    .intro__unit {
        height: 550px;
    }
    .intro__unit--big {
        width: 100%;
    }
    .intro__unit--blue {
        width: 50%;
    }
    .intro__unit--green {
        width: 50%;
    }
    .intro__unit--orange {
        width: 100%;
    }
   .portfolio a {
       width: 100%;
   }
    .promo {
        .promo__name {
            font-size: 40px;
        }
        .author {
            height: 400px;
            bottom: 63px;
            right: -20px;
        }
    }
    .services {
        &__inner {
         .services__item {
             width: 100%;
        }
        }
     } 
     .mission {
         .mission__title {
            font-size: 50px;
         }
         .mission__message {
             transform: translateY(-13px)
         }
         .mission__header {
             font-size: 19px;
             span {
                 font-size: 16px;
             }
         }
     }
     
}
@media (min-width: 320px) and (max-width: 475px) {
    .intro__title {
        font-size: 2.2rem;
        line-height: 4rem;
    }
    .intro__title span {
        font-size: 1.2rem;
        letter-spacing: .1rem;
        line-height: 1;
    }
    .intro__unit {
        height: 550px;
    }

    .intro__unit--big {
        width: 100%;
        padding: 6.5rem 1rem;
    }
    .intro__unit--blue {
        width: 100%;
        // padding: 0 3rem;
    }
    .intro__unit--green {
        width: 100%;
    }
    .intro__unit--orange {
        width: 100%;
    }
    .author {
        display: none;
    }
    .promo__name {
        font-size: 30px!important;
    }
    .circle {
        display: none;
    }
    .services {
        &__inner {
         .services__item {
            padding: 25px 0;
        }
      }
    } 
    .promo__title {
        font-size: 52px;
        line-height: 51px;
    }
    .feed {
        &__clients {
            ul {
                li {
                    margin: 0 0px 50px 0!important;
                    max-width: 110px;
                }
            }
        }
        &__footer {
            text-align: center;
        }
        &__message   {
            margin: 30px 0 0 19px!important;
            display: block;
        }
    }
    .advantages__list:after {
        bottom: 4px;
    }
    .advantages .advantages__col {
        margin-bottom: 30px;
    }
    .blog__text {
        padding: 0;
    }
    .footer {
        background-image: none!important;
        .footer__links a {
            font-size: 11px;
        }
     }
    
     .modal__close {
        top: -24px!important;
        right: 1px!important;
    }
    .title {
        font-size: 40px!important;
    }
}
 