.intro {
    padding: 5rem 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__unit {
        position: relative;
        width: 19%;
        height: 500px;
        padding: 7rem .6rem;
        background-color: red;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        &--header {
            text-align: center;
            position: relative;
            margin-bottom: 1rem;
            .header__number {
                font-size: 6rem;
                position: absolute;
                top: -4.6rem;
                left: 50%;
                transform: translate(-50%);
                opacity: .2;
            }
        }
        &--icon {
            width: 90px;
            height: 90px;
            margin-bottom: 0.6rem;
        }
        &--text {
            text-align: center;
            margin-top: 0.4rem;
            color: rgba(255, 255, 255, 0.8);
            font-weight: 300;
        }
        &--title {
            font-size: 2rem;
            font-weight: 600;
            color: rgba(255, 255, 255, 0.9);
        }
        &--big {
            padding:  5.5rem 3rem;
            width: 38%;
            background: #000 url(../img/image.jpg)center center/cover no-repeat;
        }
        &--green {
            background-color: $pink;
        }
        &--blue {
            background-color: #ffc107;
        }
        &--orange {
            background-color: #009688;
        }
    }
    &__title {
        font-size: 4rem;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 1.4rem;
        color: rgba(255, 255, 255, 0.89);
        text-align: center;
        position: relative;
        &:after {
            content:"";
            display: block;
            position: absolute;
            top: 58%;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 5rem;
            background-color: rgba(255, 255, 255, 0.705);
            margin: 0 auto;
        }
        span {
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: .4rem;
            color: rgba(255, 255, 255, 0.705);
            
        }
    }
    &__text {
        font-size: 1rem;
        line-height: 1.5;
        text-align: center;
        color:rgba(255, 255, 255, 0.671);
    }
    &__footer {
        position: absolute;
        padding: 2rem 3rem;
        background-color: rgba(0, 0, 0, 0.267);
        width: 100%;
        bottom: 0;
         text-align: center;
        a {
        color: rgba(255, 255, 255, 0.575);
        text-align: left;
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
        &:hover {
            color: $pink;
        }
        }
    }
}